@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700&display=swap');

:root {
    --fuente-titulos: 'Bebas Neue', sans-serif;
    --fuente-texto: 'Space Grotesk', sans-serif;
    --fuente-logo: 'Sora', sans-serif;
    --fuente-boton: 'Space Grotesk', sans-serif;
    --fuente-animada: 'Space Grotesk', sans-serif;
}